@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #004dda;
  z-index: 3;

  img {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    a {
      color: #fff;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      padding: 12px;
    }
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-bottom: 5px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown_content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown_content {
    display: block;
    margin-top: 5px;
  }

  .search_bar {
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      border: 3px solid #fff;
      padding: 5px;
      height: 20px;
      border-radius: 5px;
      outline: none;
      color: #9dbfaf;
    }

    span {
      cursor: pointer;
      display: flex;
      font-size: 25px;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      align-items: center;
    }
  }
}

.close {
  cursor: pointer;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 12px 25px;
  color: #ff7f82;
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: adjust-hue(#ff7f82, 45deg);
    color: #fff;
    box-shadow: inset -3.5em 0 0 0 adjust-hue(#ff7f82, 45deg),
      inset 3.5em 0 0 0 adjust-hue(#ff7f82, 45deg);
  }
}

.favoriteproduct {
  display: flex;
  flex-wrap: wrap;
}

.details {
  text-align: center;

  button {
    cursor: pointer;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 15px 32px;
    color: #004dda;
    transition: 0.25s;

    &:hover,
    &:focus {
      border-color: adjust-hue(#004dda, 10deg);
      color: #fff;
    }
  }

  .moreinfo:hover,
  .moreinfo:focus {
    box-shadow: inset 10rem 0 0 0 adjust-hue(#004dda, 20deg);
  }
}
.product_card {
  display: flex;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 20px auto;
  background: #fafafa;
}

.badge {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product_thumb img {
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  transition: transform 0.3s ease-in-out;
}

.product_card:hover .product_thumb img {
  transform: scale(1.05);
}

.product_thumb {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
  background: #f0f0f0;
  overflow: hidden;
}

.product_thumb img {
  width: 100%;
  height: 100%;
}

.product_details {
  padding: 30px;
}

.product_catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
}

.product_details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product_details h4 a:hover {
  color: #fbb72c;
}

.product_details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product_bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product_bottom-details div {
  float: left;
  width: 50%;
}

.product_price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product_price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product_links {
  text-align: right;
}

.product_links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product_links a:hover {
  color: #fbb72c;
}

.shoppingsize {
  width: 17px;
  height: 8px;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  background-color: #083487;
  margin-top: 25px;
  padding-top: 4px;
  padding-bottom: 7px;
  margin-left: -10px;
}

.nav_item_dropdown {
  position: relative;

  &:hover > .dropdown_menu {
    display: block;
    opacity: 1;
  }
}

.dropdown_trigger {
  position: relative;

  &:focus + .dropdown_menu {
    display: block;
    opacity: 1;
  }

  &::after {
    content: "›";
    position: absolute;
    color: #ed3e44;
    font-size: 24px;
    font-weight: bold;
    transform: rotate(90deg);
    top: -5px;
    right: -15px;
  }
}

.dropdown_menu {
  background-color: #ed3e44;
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 2.5rem;
  right: -10px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 160px;

  a {
    color: #fff;
  }
}

.dropdown_menu_item {
  cursor: pointer;
  padding: 1em;
  text-align: center;

  &:hover {
    background-color: darken(#ed3e44, 5%);
  }
}

.buttons {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

@media (min-width: 1080px) {
  .menuIcon {
    display: none;
  }
}

@media (max-width: 768px) {
  .container ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #004dda;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  .container .search_bar input {
    display: none;
  }

  .container ul.menuOpen {
    padding-top: 10px;
    display: block;
  }

  .container ul li {
    padding: 12px;
  }

  .container ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 10px;
  }

  .container .menuIcon {
    display: block;
    cursor: pointer;
    font-size: 25px;
  }

  .product_card {
    display: block;
  }
  .product_thumb {
    width: 100%;
  }
}
