@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004dda;
  z-index: 3;

  img {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    a {
      color: #fff;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      padding: 12px;
    }
  }
  .search_bar {
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      border: 3px solid #fff;
      padding: 5px;
      height: 20px;
      border-radius: 5px;
      outline: none;
      color: #9dbfaf;
    }

    span {
      cursor: pointer;
      display: flex;
      font-size: 25px;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media (min-width: 1080px) {
  .menuIcon {
    display: none;
  }
}

@media (max-width: 768px) {
  .container ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #004dda;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  .container .search_bar input {
    display: none;
  }

  .container ul.menuOpen {
    padding-top: 10px;
    display: block;
  }

  .container ul li {
    padding: 12px;
  }

  .container ul li a {
    color: #fff;
    text-decoration: none;
  }

  .container .menuIcon {
    display: block;
    cursor: pointer;
    font-size: 25px;
  }
}
