@charset "UTF-8";
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #172134;
  padding: 60px 0 35px 0;
  font-family: "Roboto", sans-serif;
  bottom: 0;
}
.footer .dropdown {
  display: none;
  margin: 10px;
}

.links {
  font-size: 14px;
}
.links h2 {
  font-size: 14px;
  color: #fff;
}
.links ul {
  padding: 0;
  list-style: none;
}
.links ul li {
  margin-bottom: 8px;
}
.links ul a {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.categories {
  font-size: 14px;
}
.categories h2 {
  font-size: 14px;
  color: #fff;
}
.categories ul {
  padding: 0;
  list-style: none;
}
.categories ul li {
  margin-bottom: 8px;
}
.categories ul a {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.contacts {
  font-size: 14px;
}
.contacts h2 {
  font-size: 14px;
  color: #fff;
}
.contacts h3 {
  margin-top: 10px;
}
.contacts ul {
  padding: 0;
  list-style: none;
}
.contacts ul li {
  opacity: 0.8;
  color: #fff;
  display: flex;
  align-items: center;
}
.contacts ul li span {
  padding-right: 10px;
  font-size: 25px;
}

.social {
  font-size: 14px;
}
.social h2 {
  font-size: 14px;
  color: #fff;
}
.social .email {
  display: flex;
  align-items: center;
}
.social .email input {
  border: 0;
  height: 40px;
  border-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ccc;
}
.social .email button {
  border: none;
  color: #fff;
  font-size: 25px;
  height: 40px;
  line-height: 44px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  background-color: #004dda;
  outline: none;
}
.social h3 {
  color: #fff;
}
.social .icons a {
  color: #fff;
  font-size: 30px;
}

.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #172134;
}
.copyright h3 {
  font-size: 14px;
  opacity: 0.8;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-top: 25px;
}
.copyright hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin-top: 5px;
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer .desktop {
    display: none;
  }
  .footer .dropdown {
    display: block;
  }
  .footer .dropdown .dropdown_container {
    width: 200px;
    border-radius: 3px;
    margin: 40px auto;
    min-height: 50px;
    text-align: center;
    position: relative;
  }
  .footer .dropdown .dropdown_container ul {
    list-style-type: none;
    padding: 0;
  }
  .footer .dropdown .dropdown_container ul a {
    color: #000;
  }
  .footer .dropdown .dropdown_container label {
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
    background: transparent;
    color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    padding-right: 10px;
  }
  .footer .dropdown .dropdown_container label:hover {
    background: transparent;
  }
  .footer .dropdown .dropdown_container label:after {
    content: "›";
    position: absolute;
    width: 40px;
    font-size: 32px;
    right: 0;
    padding-left: 0px;
    top: 0;
    bottom: 0;
    transform: rotate(90deg);
  }
  .footer .dropdown .dropdown_container .content {
    height: 0;
    max-height: 0px;
    margin: 0;
    text-align: left;
    overflow: hidden;
    transition: 0.3s linear;
    position: absolute;
    z-index: 999;
    background: #fff;
  }
  .footer .dropdown .dropdown_container .content li {
    padding: 3px 10px;
  }
  .footer .dropdown .dropdown_container .content li:first-child {
    padding-top: 10px;
  }
  .footer .dropdown .dropdown_container .content li:last-child {
    padding-bottom: 10px;
  }
  .footer .dropdown .dropdown_container #drop {
    display: none;
  }
  .footer .dropdown .dropdown_container #drop:checked ~ .content {
    height: auto;
    width: 100%;
    max-height: 900px;
    overflow: hidden;
  }
  .footer .dropdown .dropdown_container #drop2 {
    display: none;
  }
  .footer .dropdown .dropdown_container #drop2:checked ~ .content {
    height: auto;
    width: 100%;
    max-height: 900px;
    overflow: hidden;
  }
  .footer .dropdown .dropdown_container #drop3 {
    display: none;
  }
  .footer .dropdown .dropdown_container #drop3:checked ~ .content {
    height: auto;
    width: 100%;
    max-height: 900px;
    overflow: hidden;
  }
  .footer .dropdown .dropdown_container #drop3:checked ~ .content li {
    color: #000;
  }
  .links ul,
  .categories ul,
  .contacts ul,
  .social ul {
    padding-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .links ul li,
  .categories ul li,
  .contacts ul li,
  .social ul li {
    margin-bottom: 15px;
  }
  .email {
    justify-content: center;
  }
}/*# sourceMappingURL=Footer.module.css.map */