.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #172134;
  padding: 60px 0 35px 0;
  font-family: "Roboto", sans-serif;
  bottom: 0;
  .dropdown {
    display: none;
    margin: 10px;
  }
}
.links {
  font-size: 14px;

  h2 {
    font-size: 14px;

    color: #fff;
  }

  ul {
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 8px;
    }

    a {
      opacity: 0.8;
      color: #fff;
      text-decoration: none;
    }
  }
}

.categories {
  font-size: 14px;

  h2 {
    font-size: 14px;

    color: #fff;
  }

  ul {
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 8px;
    }

    a {
      opacity: 0.8;
      color: #fff;
      text-decoration: none;
    }
  }
}

.contacts {
  font-size: 14px;
  h2 {
    font-size: 14px;

    color: #fff;
  }

  h3 {
    margin-top: 10px;
  }
  ul {
    padding: 0;
    list-style: none;

    li {
      opacity: 0.8;
      color: #fff;
      display: flex;
      align-items: center;

      span {
        padding-right: 10px;
        font-size: 25px;
      }
    }
  }
}

.social {
  font-size: 14px;

  h2 {
    font-size: 14px;

    color: #fff;
  }

  .email {
    display: flex;
    align-items: center;

    input {
      border: 0;
      height: 40px;
      border-radius: 0;
      padding-left: 15px;
      padding-right: 15px;
      background-color: rgba(255, 255, 255, 0.05);
      color: #ccc;
    }

    button {
      border: none;
      color: #fff;
      font-size: 25px;
      height: 40px;
      line-height: 44px;
      cursor: pointer;
      border-radius: 0 3px 3px 0;
      background-color: #004dda;
      outline: none;
    }
  }

  h3 {
    color: #fff;
  }

  .icons {
    a {
      color: #fff;
      font-size: 30px;
    }
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #172134;
  h3 {
    font-size: 14px;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin-top: 25px;
  }

  hr {
    border-color: rgba(255, 255, 255, 0.1);
    margin-top: 5px;
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;

    .desktop {
      display: none;
    }

    .dropdown {
      display: block;

      .dropdown_container {
        width: 200px;
        border-radius: 3px;
        margin: 40px auto;
        min-height: 50px;
        text-align: center;
        position: relative;
        ul {
          list-style-type: none;
          padding: 0;

          a {
            color: #000;
          }
        }
        label {
          position: relative;
          display: block;
          width: 100%;
          font-size: 18px;
          line-height: 50px;
          cursor: pointer;
          background: transparent;
          color: white;
          user-select: none;
          padding-right: 10px;
          &:hover {
            background: transparent;
          }
          &:after {
            content: "\203A";
            position: absolute;
            width: 40px;
            font-size: 32px;
            right: 0;
            padding-left: 0px;
            top: 0;
            bottom: 0;
            transform: rotate(90deg);
          }
        }
        .content {
          height: 0;
          max-height: 0px;
          margin: 0;
          text-align: left;
          overflow: hidden;
          transition: 0.3s linear;
          position: absolute;
          z-index: 999;
          background: #fff;
          li {
            padding: 3px 10px;
            &:first-child {
              padding-top: 10px;
            }
            &:last-child {
              padding-bottom: 10px;
            }
          }
        }
        #drop {
          display: none;
          &:checked ~ .content {
            height: auto;
            width: 100%;
            max-height: 900px;
            overflow: hidden;
          }
        }
        #drop2 {
          display: none;
          &:checked ~ .content {
            height: auto;
            width: 100%;
            max-height: 900px;
            overflow: hidden;
          }
        }
        #drop3 {
          display: none;
          &:checked ~ .content {
            height: auto;
            width: 100%;
            max-height: 900px;
            overflow: hidden;

            li {
              color: #000;
            }
          }
        }
      }
    }
  }

  .links ul,
  .categories ul,
  .contacts ul,
  .social ul {
    padding-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .links ul li,
  .categories ul li,
  .contacts ul li,
  .social ul li {
    margin-bottom: 15px;
  }

  .social {
    text-align: center;
  }

  .email {
    justify-content: center;
  }
}
