.productsdetails {
  background-color: #f8f8f8;
  padding-bottom: 200px;
}
.productsdetails img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.productsdetails .detailtitle {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 10%;
}
.productsdetails .detailtitle h1 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.productsdetails .detailtitle ul {
  display: flex;
  list-style: none;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.productsdetails .detailtitle ul li {
  display: flex;
  align-items: center;
  word-wrap: none;
  padding-right: 8px;
  font-size: 12px;
  color: #555555;
}
.productsdetails .detailtitle ul li svg {
  color: #777;
}
.productsdetails .detailtitle ul li a {
  text-decoration: none;
  color: #777;
}
.productsdetails img {
  padding-top: 150px;
}
.productsdetails .select {
  width: 30%;
}
.productsdetails .description {
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-around;
}
.productsdetails .description h1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #444444;
  font-weight: 500;
  line-height: 36px;
}
.productsdetails .description .desc {
  width: 40%;
}
.productsdetails .description .rating {
  align-items: center;
  display: flex;
}
.productsdetails .description .rating p {
  color: #ccc;
  padding-left: 5px;
}
.productsdetails .description .rating svg {
  color: #ffcc00;
}
.productsdetails .color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productsdetails .color ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.productsdetails .color ul li {
  cursor: pointer;
}
.productsdetails .color ul .color1 {
  background-color: #ffcc00;
}
.productsdetails .color ul .color2 {
  background-color: #ff9933;
}
.productsdetails .color ul .color3 {
  background-color: #ff9966;
}
.productsdetails .color ul .color4 {
  background-color: #ff9999;
}
.productsdetails .color ul li {
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}
.productsdetails .color ul li a {
  text-decoration: none;
}
.productsdetails .size {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productsdetails .size .select {
  padding-left: 20px;
  width: 200px;
}
.productsdetails .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  font-family: "Roboto";
}
.productsdetails .price .add button {
  width: 179px;
  border: none;
  color: #fff;
  background: #004dda;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 12px 25px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
}
.productsdetails .price .newprice {
  font-size: 24px;
  color: #004dda;
  font-weight: 500;
}
.productsdetails .price .percentage {
  background: #f33;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  position: relative;
  padding: 5px 5px 3px 5px;
  top: -1px;
  margin-left: 10px;
}
.productsdetails .price .oldprice {
  padding-left: 5px;
  color: #999;
  text-decoration: line-through;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
}
.productsdetails .quantity {
  display: flex;
  justify-content: space-between;
}
.productsdetails .quantity .counter {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #777;
  width: 179px;
  height: 38px;
  border-radius: 4px;
  border-color: hsl(0, 0%, 80%);
}
.productsdetails .quantity .counter p {
  font-size: 20px;
}
.productsdetails .quantity .counter button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.productsdetails .quantity .counter button span {
  color: #777;
  font-size: 35px;
}
.productsdetails .quantity .counter button :hover {
  color: #0d6efd;
}
.productsdetails .details {
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
  padding: 60px 0 35px 0;
}
.productsdetails .details .detail_desc {
  flex: 0 0 auto;
  width: 50%;
}/*# sourceMappingURL=Product_Details.module.css.map */